<div class="sidebar-nav ps" id="sidenav-main">
  
   
    <!-- User -->
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/dashboard']" [routerLinkActive]="['active']">
          <i class="fas fa-chart-bar"></i>
          Tableau de bord
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/gestion-commandes']" [routerLinkActive]="['active']">
          <i class="fas fa-shipping-fast"></i>
           Gestion des commandes
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="" routerlinkactive="active">
          <i class="far fa-calendar-alt"></i> Gestion des abonnements
        </a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="#" routerlinkactive="active">
          <i class="fas fa-address-card"></i>
          Gestion des clients
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="#" routerlinkactive="active">
          <i class="far fa-id-badge"></i> Gestion des utilisateurs
        </a>
      </li>
    </ul>
  
  
</div>
