<div class="card" style="
height: calc(100vh - 190px);
">
  <div class="card-body">


    <div class="d-flex p-3">
      <div>
        <form>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="bookingTypeRadio" id="bookingTypeRadio1" value="option1"
              checked>
            <label class="form-check-label" for="bookingTypeRadio1">
              Tout afficher
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="bookingTypeRadio" id="bookingTypeRadio2" value="option2">
            <label class="form-check-label" for="bookingTypeRadio2">
              Rendez-vous standard
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="bookingTypeRadio" id="bookingTypeRadio3" value="option3">
            <label class="form-check-label" for="bookingTypeRadio3">
              Rendez-vous express
            </label>
          </div>
        </form>
      </div>

      <form class="navbar-search navbar-search-light form-inline mr-3 d-none d-md-flex ml-lg-auto">
        <div class="form-group mb-0">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" placeholder="Search" type="text">
          </div>
        </div>
      </form>
    </div>

    <!-- Table -->
    <div class="row ">
      <div class="col">
        <div class="table-responsive p-3">
          <table class="table table-bordered table-striped table-sm ">
            <thead>
              <tr>
                <th scope="col">Reference</th>
                <th scope="col">Client</th>
                <th scope="col">Categorie</th>
                <th scope="col">Type rendez-vous</th>
                <th scope="col">Date rendez-vous</th>
                <th scope="col">Statut</th>
                <th scope="col">Tâche</th>
                <th scope="col">Agent</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1234456789A</th>
                <th scope="row">Client 1</th>
                <td>Particulier</td>
                <td>Express</td>
                <td>JJ/MM/AAAA</td>
                <td>Non assigné</td>
                <td>A assigner</td>
                <td></td>
              </tr>
              <tr>
                <th>1234456789A</th>
                <th scope="row">Client 2</th>
                <td>Particulier</td>
                <td>Standard</td>
                <td>JJ/MM/AAAA</td>
                <td>Assigné - Pas encore Démaré </td>
                <td>Assigner</td>
                <td>Agent X</td>
                <td> <button class="btn btn-sm btn-outline-primary">Modifier</button>
                  <button class="btn btn-sm btn-outline-success">Détails</button></td>
              </tr>
              <tr>
                <th>1234456789A</th>
                <th scope="row">Client 3</th>
                <td>Entreprise</td>
                <td>Standard</td>
                <td>JJ/MM/AAAA</td>
                <td>En cours</td>
                <td>Assigner</td>
                <td>Agent Y</td>
                <td> <button class="btn btn-sm btn-outline-primary">Modifier</button></td>

              </tr>
              <tr>
                <th>1234456789A</th>
                <th scope="row">Client 4</th>
                <td>Entreprise</td>
                <td>Express</td>
                <td>JJ/MM/AAAA</td>
                <td>Terminé</td>
                <td>Cloturer</td>

                <td>Agent Z</td>
                <td></td>

              </tr>
              <tr>
                <th>1234456789A</th>
                <th scope="row">Client 5</th>
                <td>Entreprise</td>
                <td>Express</td>
                <td>JJ/MM/AAAA</td>
                <td>Annulé</td>
                <td>Assigné</td>
                <td>Agent Z</td>
                <td> <button class="btn btn-sm btn-outline-primary" (click)="open(content)">Modifier</button></td>

              </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #content let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Modifier rendez-vous</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group row">
          <label class="col-sm-5 form-control-label">Reference</label>
          <div class="col-sm-7">
            <input disabled type="text" class="form-control" id="reference">
          </div>
        </div>
        <div class="form-group focused row">
          <label class="col-sm-5 form-control-label">Client</label>
          <div class="col-sm-7">
            <input type="text" readonly class="form-control" id="staticEmail" value="email@example.com">
          </div>
        </div>
        <div class="form-group focused row">
          <label class="col-sm-5 form-control-label">Type de rendez-vous</label>
          <div class="col-sm-7">
            <select class="form-control">
              <option>Type de rendez-vous</option>
              <option>Express</option>
              <option>Standart</option>
            </select>
          </div>
        </div>


        <div class="form-group row">
          <label class="col-sm-5 form-control-label">Assigner à</label>

          <div class="col-sm-7"><input type="text" class=" form-control" matInput [formControl]="myControl"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
  
    <div class="form-group row">
      <mat-slide-toggle>Cloturer le rendez-vous</mat-slide-toggle>
    </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('Save click')">Modifier</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Annuler</button>

  </div>
  </div>
</ng-template>
