<div class="card" style="
height: calc(100vh - 190px);
">
  <div class="card-body">


    <div class="d-flex p-3">
      <div>
        <form>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="bookingTypeRadio" id="bookingTypeRadio1" value="option1"
              checked>
            <label class="form-check-label" for="bookingTypeRadio1">
              Tout afficher
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="bookingTypeRadio" id="bookingTypeRadio2" value="option2">
            <label class="form-check-label" for="bookingTypeRadio2">
              Rendez-vous standard
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="bookingTypeRadio" id="bookingTypeRadio3" value="option3">
            <label class="form-check-label" for="bookingTypeRadio3">
              Rendez-vous express
            </label>
          </div>
        </form>
      </div>

      <form class="navbar-search navbar-search-light form-inline mr-3 d-none d-md-flex ml-lg-auto">
        <!-- <div class="form-group mb-0">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
           </div>
        </div> -->
        <mat-form-field>
       
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" type="text">
        </mat-form-field> 
      </form>
    </div>

    <!-- Table -->
    <div class="row ">
      <div class="col">
        <div class="table-responsive p-3">

         
          
          <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
          
             
              <ng-container matColumnDef="reference">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference </th>
                <td mat-cell *matCellDef="let row"> {{row.reference}} </td>
              </ng-container>
          
             
              <ng-container matColumnDef="client">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
                <td mat-cell *matCellDef="let row"> {{row.customer.name}} {{row.customer.lastname}} </td>
              </ng-container>
          
             
              <ng-container matColumnDef="categorie">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Categorie Client </th>
                <td mat-cell *matCellDef="let row"> {{row.customer.account_type}} </td>
              </ng-container>
          
              <!-- Color Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type Rendez-vous </th>
                <td mat-cell *matCellDef="let row" > {{row.formule.label}} </td>
              </ng-container>
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.date|date}} </td>
              </ng-container>
              <ng-container matColumnDef="statut">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color">{{row.bookingStatus.label}} </td>
              </ng-container>
              <ng-container matColumnDef="tache">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tache à venir </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
              </ng-container>
              <ng-container matColumnDef="agent">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Agent </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #content let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Modifier rendez-vous</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group row">
          <label class="col-sm-5 form-control-label">Reference</label>
          <div class="col-sm-7">
            <input disabled type="text" class="form-control" id="reference">
          </div>
        </div>
        <div class="form-group focused row">
          <label class="col-sm-5 form-control-label">Client</label>
          <div class="col-sm-7">
            <input type="text" readonly class="form-control" id="staticEmail" value="email@example.com">
          </div>
        </div>
        <div class="form-group focused row">
          <label class="col-sm-5 form-control-label">Type de rendez-vous</label>
          <div class="col-sm-7">
            <select class="form-control">
              <option>Type de rendez-vous</option>
              <option>Express</option>
              <option>Standart</option>
            </select>
          </div>
        </div>


        <div class="form-group row">
          <label class="col-sm-5 form-control-label">Assigner à</label>

          <div class="col-sm-7"><input type="text" class=" form-control" matInput [formControl]="myControl"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
  
    <div class="form-group row">
      <mat-slide-toggle>Cloturer le rendez-vous</mat-slide-toggle>
    </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('Save click')">Modifier</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Annuler</button>

  </div>
  </div>
</ng-template>
